* {
    margin: 0;
    padding: 0;
    background-color: rgb(43, 107, 167);
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color:rgb(235, 235, 240);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  .add-btn, .delete-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn {
    margin-bottom: 20px;
  }
  
  .delete-btn {
    background-color: #f44336;
  }
  
  .add-btn:hover, .delete-btn:hover {
    background-color: #45a049;
  }
  
  .delete-btn:hover {
    background-color: #e60000;
  }
  #add-patient{
    margin-bottom: 50px
  }
  .add-btn{
justify-content: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.center-button {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
